docs/api/context/c_api/figures/*.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
docs/api/context/c_api/figures/asc_copy_gm2l1_dn2nz.png filter=lfs diff=lfs merge=lfs -text
docs/api/context/c_api/figures/asc_copy_gm2l1_nd2nz.png filter=lfs diff=lfs merge=lfs -text
